<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Web Template</title>
    <link href="/static/output.css" rel="stylesheet">
</head>

<body class="h-dvh flex flex-col items-center gap-4">
    <div>
        <h1 class="text-center">{{ title }}</h1>
        <div class="text-center">{{ description }}</div>
    </div>
    <div class="bg-black p-10 flex justify-center items-center -space-x-14 *:size-36 *:rounded-full">
        <div class="bg-[#dc2626]"></div>
        <div class="relative bg-[#e1aa0c] overflow-hidden">
            <div class="absolute size-36 bg-[#d66c12] right-1/2 -translate-x-4 rounded-full"></div>
        </div>
    </div>
</body>

</html>