<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Web Template</title>
    <link href="/static/output.css" rel="stylesheet">
</head>

<body class="h-dvh flex flex-col items-center gap-4">
    <div>
        <h1 class="text-center">{{ title }}</h1>
        <div class="text-center">{{ description }}</div>
    </div>
    <div class="flex justify-center items-center">
        <div
            class="outline outline-8 -outline-offset-2 outline-[#292524] size-[228px] rounded-full overflow-clip justify-center *:h-full flex flex-col">
            <div class=" bg-[#b91c1c]"></div>
            <div class="!h-[56px] bg-[#292524]"></div>
            <div class="bg-[#f4f4f5]"></div>
            <div
                class="absolute bg-[#292524] transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 !size-[68px] rounded-full">
            </div>
            <div
                class="absolute bg-[#f4f4f5] transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 !size-[48px] rounded-full">
            </div>
            <div
                class="absolute bg-[#e4e4e7] transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 !size-[30px] rounded-full">
            </div>
        </div>
    </div>
</body>

</html>